body {
  font-family: Monospace, sans-serif;
  background-color: #f0f;
}

h1 {
  font-size: 3em;
  margin: 0.325rem 0 1rem;
  color: blue;
}

h2 {
  font-size: 2.4em;
  margin: 0.325rem 0 0.625rem;
  color: darkblue;
}

h3 {
  font-size: 2em;
  margin: 0.325rem 0 0.75rem;
  color: darkcyan;
}

p {
  margin: 0.625rem 0;
}

a {
  color: yellowgreen;
}

.container {
  width: 900px;
  margin: auto;
  background-color: white;
  padding: 1.25rem;
  margin-top: 0.625rem;
  border: 1px solid palevioletred;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > .col {
  width: 33%;
}

.question {
  margin: 0.625rem 1.25rem;
}

.question__question {
  margin: 0.625rem 0;
  font-weight: bold;
}

.level {
  font-size: 0.8em;
}

.level--beginner,
.level--débutant {
  color: darkgreen;
}

.level--medium,
.level--confirmé {
  color: darkgoldenrod;
}

.level--expert {
  color: darkred;
}

.question__info {
  font-style: italic;
  font-size: 0.8em;
}

.question__choices {
  margin: 0.625rem 0;
}

.btn {
  display: block;
  width: 100%;
  margin: 0.625rem 0;
  text-align: center;
  color: red;
  border: 2px solid red;
  background-color: yellow;
  font-size: 1.4em;
  font-weight: bold;
  padding: 0.325rem 0;
  cursor: pointer;
}

.tag {
  padding: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  margin: 5px;
  border-radius: 9px;
}


.tag--cinéma {
  background-color: red;
}

.tag--technologie {
  background-color: purple;
}

.tag--gastronomie {
  background-color: lightgreen;
}

.tag--littérature {
  background-color: brown;
}

.tag--histoire {
  background-color: chartreuse;
}

.tag--animaux {
  background-color: pink;
}

.tag--nature {
  background-color: greenyellow;
}

.tag--astronomie {
  background-color: black;
  color: white;
}

.tag--géographie {
  background-color: lightseagreen;
}
