<%- include('partials/header') %>

<div>
  <h2> Bienvenue sur O'Quiz </h2>
  <p>

  Une application sympa pour répondre à questions cool.

  </p>
</div>

<div class="row">

  <h3>Page Admin</h3>

</div>


<%- include('partials/footer') %>