<%- include('partials/header') %>

<div>
    <h2> Le chocolat - I 
        <span>xx questions</span>
    </h2>
</div>

<div>
    <h4> 
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
    </h4>
</div>

<div>
    <p>by author name</p>
</div>

<div class="row">

    <div class="col question">

        <span class="level level--beginner">Débutant</span>

        <div class="question__question">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr. ?
        </div>
        <div>
            <ul>
                <li>1. Lorem ipsum </li>
                <li>2. Lorem ipsum </li>
                <li>3. Lorem ipsum </li>
                <li>d. La réponse D </li>
            </ul> 
        </div>
    </div>

    <div class="col question">
        <span class="level level--medium">Confirmé</span>
        <div class="question__question"> 
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr. ?
        </div>
        <div>
            <ul>
                <li>1. Lorem ipsum </li>
                <li>2. Lorem ipsum </li>
                <li>3. Lorem ipsum </li>
                <li>d. La réponse D </li>
            </ul> 
        </div>
    </div>

    <div class="col question">
        <span class="level level--expert">Expert</span>
        <div class="question__question">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr. ?
        </div>
        <div>
            <ul>
                <li>1. Lorem ipsum </li>
                <li>2. Lorem ipsum </li>
                <li>3. Lorem ipsum </li>
                <li>d. La réponse D </li>
            </ul> 
        </div>
    </div>
    
</div>

<div class="row">

    <div class="col question">

        <span class="level level--beginner">Débutant</span>

        <div class="question__question">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr. ?
        </div>
        <div>
            <ul>
                <li>1. Lorem ipsum </li>
                <li>2. Lorem ipsum </li>
                <li>3. Lorem ipsum </li>
                <li>d. La réponse D </li>
            </ul> 
        </div>
    </div>

    <div class="col question">
        <span class="level level--medium">Confirmé</span>
        <div class="question__question"> 
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr. ?
        </div>
        <div>
            <ul>
                <li>1. Lorem ipsum </li>
                <li>2. Lorem ipsum </li>
                <li>3. Lorem ipsum </li>
                <li>d. La réponse D </li>
            </ul> 
        </div>
    </div>

    <div class="col question">
        <span class="level level--expert">Expert</span>
        <div class="question__question">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr. ?
        </div>
        <div>
            <ul>
                <li>1. Lorem ipsum </li>
                <li>2. Lorem ipsum </li>
                <li>3. Lorem ipsum </li>
                <li>d. La réponse D </li>
            </ul> 
        </div>
    </div>
    
</div>

<%- include('partials/footer') %>