<%- include('partials/header') %>

<div>
  <h2> S'inscrire sur O'Quiz </h2>
  <p>

  Inscrivez vous pour profiter des quizz !

  </p>
</div>

<div class="row">

  <form action="/signup" method="POST">
  
  <div class="form-group">
    <label for="lastname">Nom</label>
    <input type="lastname" class="form-control" id="lastname" name="lastname" aria-describedby="lastnameHelp" placeholder="Enter lastname">
  </div>

  <div class="form-group">
    <label for="firstname">Prenom</label>
    <input type="firstname" class="form-control" id="firstname" name="firstname" aria-describedby="firstnameHelp" placeholder="Enter firstname">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>


  <div class="form-group">
    <label for="passwordConfirm">Confirm Password</label>
    <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="Password confirm">
  </div>

  <button type="submit" class="btn btn-primary">Envoyer</button>
</form>


</div>

<%- include('partials/footer') %>